#title {
    text-align: center;
}

h1 {
    display: inline-block;
}

div div div {
    text-align: center;
}

video[id*="videoElement"] {
    display: inline-block;
    background-color: #666;
    width: 400px;
    height: 350px;
}

#buttons {
    text-align: center;
    margin-top: 5px;
}

div button {
    display: inline-block;
}

#modifiers {
    display: inline;
    text-align: center;
}

.hairCheckbox {
    display: inline-block;
}